{% extends 'base.html.twig' %}

{% block title %}Hello InicioController!{% endblock %}

{% block body %}
    {{ parent() }}

    {# {{ dump(reservas) }} #}
    {# {{ dump(salas) }} #}

    <div class="container m-5" >
        <div id="info_disponible">
            <span v-if="seen">
                Información: al dar click en "ver disponibilidad" en cualquier sala
                usted verá el horario disponible para esa sala, NO se puede ver las reservas 
                ni quién hizo esa reserva.
            </span><br>
            <button class=" btn btn-outline-info " v-on:click="informacion">Mostrar / Ocultar información</button>
        </div>
        <div class="row m-3" >
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for sala in salas %}
                    <tr>
                        <td>{{ sala.id }}</td>
                        <td>{{ sala.nombreSala }}</td>
                        <td>
                            <a href="{{ path('disponibilidad', {'id': sala.id}) }}"><img src="{{ asset('img/disponible.png') }}" > Ver disponibilidad</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">No se encontraron registros</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}
