{% extends 'base.html.twig' %}

{% block title %}Cliente index{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Clientes</h1>
    <div class="container-fluid" >
        <div class="row" >
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Cedula</th>
                        <th>Correo</th>
                        <th>Direccion</th>
                        <th>Telefono</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente.id }}</td>
                        <td>{{ cliente.nombresCliente }}</td>
                        <td>{{ cliente.apellidosCliente }}</td>
                        <td>{{ cliente.cedulaCliente }}</td>
                        <td>{{ cliente.correoCliente }}</td>
                        <td>{{ cliente.direccionCliente }}</td>
                        <td>{{ cliente.telefonoCliente }}</td>
                        <td>
                            <a href="{{ path('cliente_show', {'id': cliente.id}) }}"> <img src="{{ asset('img/busqueda.png') }}" > mostrar</a><br>
                            <a href="{{ path('cliente_edit', {'id': cliente.id}) }}"><img src="{{ asset('img/editar.png') }}" > editar</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">No se encontraron registros</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <a class="btn btn-primary" href="{{ path('cliente_new') }}">Crear nuevo cliente</a>
{% endblock %}
