{% extends 'base.html.twig' %}

{% block title %}Cliente{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Cliente</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cliente.id }}</td>
            </tr>
            <tr>
                <th>Nombres cliente</th>
                <td>{{ cliente.nombresCliente }}</td>
            </tr>
            <tr>
                <th>Apellidos cliente</th>
                <td>{{ cliente.apellidosCliente }}</td>
            </tr>
            <tr>
                <th>Cedula cliente</th>
                <td>{{ cliente.cedulaCliente }}</td>
            </tr>
            <tr>
                <th>Correo cliente</th>
                <td>{{ cliente.correoCliente }}</td>
            </tr>
            <tr>
                <th>Direccion cliente</th>
                <td>{{ cliente.direccionCliente }}</td>
            </tr>
            <tr>
                <th>Telefono cliente</th>
                <td>{{ cliente.telefonoCliente }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-primary" href="{{ path('cliente_index') }}">Volver al listado</a>

    <a class="btn btn-outline-primary" href="{{ path('cliente_edit', {'id': cliente.id}) }}">Editar</a> <hr>

    {{ include('cliente/_delete_form.html.twig') }}
{% endblock %}
