{% extends 'base.html.twig' %}

{% block title %}Hello AdministracionController!{% endblock %}

{% block body %}
    {{ parent() }}

    {# {{ dump(app.user) }} #}

    <h1 class="text-center">Panel de control</h1>
    <div class="container" >
        <div class="row div_angosta" >
            {# <div class="col-4"> #}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Entidad</th>
                            <th scope="col">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th scope="row">1</th>
                        <td>Cliente</td>
                        <td><a class="btn btn-outline-secondary" href="{{ path('cliente_index') }}" >Administrar C</a></td>
                        </tr>
                        <tr>
                        <th scope="row">2</th>
                        <td>Sala</td>
                        <td><a class="btn btn-outline-secondary" href="{{ path('sala_index') }}" >Administrar S</a></td>
                        </tr>
                        <th scope="row">3</th>
                        <td>Reserva</td>
                        <td><a class="btn btn-outline-secondary" href="{{ path('reserva_index') }}" >Administrar R</a></td>
                        </tr>
                    </tbody>
                </table>
            {# </div> #}
        </div>
    </div>

{% endblock %}
